@font-face {
    font-family: "Poppins-Regular";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

:root {
    --buttons-navbar-bg: #2b343b;
    --buttons-navbar-shadow: #f12711;
    --body-bg: black;
    --active-bg: #f12711;
    --active-bg-linear-gradient-webkit: -webkit-linear-gradient(to right, #f5af19, #f12711);
    --active-bg-linear-gradient: linear-gradient(to right, #f5af19, #f12711);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BUTTONS NAVBAR STYLES */
.navigation {
    position: fixed;
    min-height: 100vh;
    width: 70px;
    background: var(--buttons-navbar-bg);
    box-shadow: 10px 0 0 var(--buttons-navbar-shadow);
    overflow: hidden;
    transition: width 0.5s;
}

.navigation:hover {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 10px;
}

.navigation ul p {
    overflow: hidden;
    color: white;
    position: relative;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 13px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.navigation ul li.active {
    background: var(--active-bg);  /* fallback for old browsers */
    background: var(--active-bg-linear-gradient-webkit);  /* Chrome 10-25, Safari 5.1-6 */
    background: var(--active-bg-linear-gradient); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li button {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
    background: transparent;
    border: none;
}

.navigation ul li button .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.navigation ul li button .icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.navigation ul li button .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    font-family: "Poppins-Regular";
}

/* BODY CONTAINER STYLES */
.container {
    width: 100%;
    background-color: var(--body-bg);
}

.container .navBar {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container .navBar .element {
    display: flex;
    padding: 10px;
}

.container .off button {
    border: none;
    background: #fff;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
}

.container .off button ion-icon {
    width: 30px;
    height: 30px;
}

.container .off button ion-icon:hover {
    color: var(--active-bg);
}
/* CHECKBOX (DARK/LIGHT THEME) */

.theme input[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 40px;
    background-color: #c6c6c6;
    -webkit-appearance: none;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,20);
}

.theme input:checked[type="checkbox"] {
    background: var(--active-bg);
}

.theme input[type="checkbox"]:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,20);
    transition: 0.5s;
}

.theme input:checked[type="checkbox"]:before {
    left: 40px;
}